<!DOCTYPE html>
<html lang="en">

<head>
    <title>LITE PY</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LITE PYTHON</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signup">Sing up</a>
                    </li>
                    <li>
                        <a href="/catalogs">Catalogs</a>
                    </li>
                    <li>
                        <a href="/widget">Widget</a>
                    </li>
                    <li>
                        <a href="/logout">Log out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
        <div class="container col-md-4 col-md-offset-4">
          <form class="form-group">
            <h2 class="form-signin-heading">Select the accounts</h2>
            <div class="dropdown">
                <button class = "dropdown-style" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select
                    <span class="caret"></span>
                </button>
                <ul id="accounts" class="dropdown-menu" aria-labelledby="dLabel">
                {%if dicc != None %}
                    {% for element in dicc %}
                        {% if 'name' in element %}
                        <li>
                            <a data-toggle="modal" data-target="#{{element['name'].replace(" ", '_')}}">{{ element['name'] }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
            <div>

            </div>
          </form>
            <!--<button class="btn btn-lg btn-primary btn-block" onclick="consoler()">GO</button>-->
            <table id="accounts_table" class="table">
                <thead>
                    <tr>
                        <th>Cuenta</th>
                        <th>Token</th>
                        <th>Sincronizar</th>
                        <th>Counts</th>                    
                    </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    {% set account_id = account.replace(" ", '_') %}
                    <tr id ="{{account}}_row">
                        <td>{{account}}</td>
                        <td><input type="text" class="form-control" name="token" id="{{account_id}}_token"></td>
                        <td><button type="button" class="btn btn-xs btn-primary" name="{{account_id}}_sync" value="{{accounts[account]}}" id="{{account}}">Sincronizar</td>
                        <td><button type="button" class="btn btn-xs btn-success" name="{{account_id}}_see" value="{{accounts[account]}}" id="{{account}}">Ver cuentas</td>                      
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if dicc != None %}
            {% for institute in dicc %}
                <div id="{{institute['name'].replace(" ", '_')}}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{institute['name']}}</h4>
                            </div>
                            <div class="modal-body">                        
                                <form id="{{institute['name'].replace(" ", '_')}}_form"class="form-group">
                                    <h2 class="form-signin-heading">Please set credentials</h2>
                                    {% for index_credential in institute['credentials']%}
                                        {% set credential = institute['credentials'][index_credential]%}
                                        <label>{{credential['label']}}:</label>
                                        <input type="{{credential['type']}}" class="form-control" name="{{credential['name']}}" id="{{institute['name'].replace(" ", '_')}}_{{index_credential}}">
                                    {% endfor %}
                                </form>
                            </div>
                            <div class="modal-footer">                                
                                <button type="button" class="btn btn-primary btn-blocl" data-dismiss="modal" onclick="get_credentials()">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            {% endfor %}
        {% endif %}
    
    <!-- jQuery Version 1.11.1 -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/logic.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>
</html>