<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crear nueva pelicula</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Movies&Books</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/books">Libros</a>                        
                    </li>  
                    <li>
                        <a href="/movies">Peliculas</a>                        
                    </li>                
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container col-md-4 col-md-offset-4">
      <form class="form-signin" action="/movies/create" novalidate method="POST">
        <h2 class="form-signin-heading">Crear Pelicula</h2>
        <label for="inputTitle" class="sr-only">Titulo</label>
        <input type="text" id="inputTitle" name="title"  class="form-control" placeholder="Titulo" required autofocus>
        <label for="inputGenre" class="sr-only">Genero</label>
        <input type="text" id="inputGenre" name="genre" class="form-control" placeholder="Genero" required>
        <label for="inputReleaseDate" class="sr-only">Año de Estreno</label>
        <input type="text" id="inputReleaseDate" name="release_date" class="form-control" placeholder="Año" required>
        <label for="inputRuntime" class="sr-only">Duracción</label>
        <input type="text" id="inputRuntime" name="runtime" class="form-control" placeholder="Duracción" required>
        <label for="inputISBN" class="sr-only">ISBN</label>
        <input type="text" id="inputISBN" name="ISBN" class="form-control" placeholder="ISBN" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id>Agregar</button>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/static/js/jquery.js"></script>
    

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
